@import url('https://fonts.googleapis.com/css?family=Raleway:200,400|Roboto|Rufina|Special+Elite|Spectral:300,400|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,800');
// font-family: 'ABeeZee', sans-serif;
// font-family: 'Abril Fatface', cursive;
// font-family: 'Amatic SC', cursive;
// font-family: 'IBM Plex Sans', sans-serif;
// font-family: 'Indie Flower', cursive;
// font-family: 'Julius Sans One', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Libre Franklin', sans-serif;
// font-family: 'Lobster', cursive;
// font-family: 'Lora', serif;
// font-family: 'Monoton', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'PT Serif', serif;
// font-family: 'Pacifico', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Playfair Display', serif;
// font-family: 'Poiret One', cursive;
// font-family: 'Questrial', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Rufina', serif;
// font-family: 'Special Elite', cursive;
// font-family: 'Spectral', serif;
// font-family: 'Ubuntu', sans-serif;


//ESTILO WEB

$fuente-principal:'Raleway', sans-serif;
$fuente-secundaria:'Quicksand', sans-serif;
$color-blackmodern:#333;

*{
	font-family:$fuente-principal;
	color:$color-blackmodern;
}

// UTILIDADES
.row{
		margin-left:0px;
		margin-right:0px;
}



.sombra{
	z-index:-10;
	width:80%;
	height:12px;
	background-color:grey;

	border-radius:50%;
	opacity:0.40;
	-webkit-filter:blur(15px);
}
.parrafo{
	font-size:14px;
}

.portfolio-seccion{
	.portfolio-contenedor{
		transition:2s;
		padding:30px;
		position:relative;
		width:100%;
		overflow:hidden;
		height:400px;

		.portfolio-item{
			background-color:white;
			position:absolute;
			display:inline;
			float:left;
			padding:5px;
			left:0px;
			.portfolio-image{

				padding:10px;
				text-align:center;

				.imagen{
					padding:5px;
					z-index:10;
					width:100%;
					border-radius:10px;

				}

			}

			.portfolio-info{
				padding:10px;
				.portfolio-info-wrapper{

				}

			}
			
		}

	}
}